$letra3: Verdana, Geneva, Tahoma, sans-serif;
$color3: black;

.navbar{
    height: 80px;
    box-shadow: 0 0 5px $color3 !important;
    .navbar-brand {
        color: #FFD687;
        font-family: $letra3;
        font-size: xx-large !important;
        
        img{
            height: 60px;
            }
        }
    }
.nav-link{
        color:#FFD687!important;
}