* {
  margin: 0%;
  padding: 0%;
}

/*Variables*/
.jumbotrom {
  height: 500px;
  background-image: linear-gradient(rgba(217, 235, 235, 0.832), rgba(223, 237, 237, 0)), url(img/cereal.jpg);
  background-size: cover;
  background-position: center;
  text-shadow: 0 0 5px black;
}

h2 {
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #73882C;
  background-size: cover;
}

.container-fluid {
  background-color: #1E5F15;
  padding: 20px;
  margin-top: 20px;
}
.container-fluid article {
  border: 10px;
  text-align: center;
  text-shadow: 0 0 5px rgb(115, 112, 112);
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(62, 94, 3);
  background-size: cover;
}

.frutos {
  background-image: url(img/frutos.jpg);
  padding: 20px;
  background-size: cover;
  transform: rotateY(0deg);
  transition: 5s;
}

.frutos:hover {
  transform: rotateY(360deg);
}

.legumbres {
  background-image: url(img/garbanzos.jpg);
  padding: 20px;
  background-size: cover;
  transform: rotateY(0deg);
  transition: 5s;
}

.legumbres:hover {
  transform: rotateY(360deg);
}

.hierbas {
  background-image: url(img/hierbasmedicinales.jpg);
  padding: 20px;
  background-size: cover;
  transform: rotateY(0deg);
  transition: 5s;
}

.hierbas:hover {
  transform: rotateY(360deg);
}

.recetas {
  background-image: url(img/recetas.jpg);
  padding: 20px;
  background-size: cover;
  transform: rotateX(0deg);
  transition: 5s;
}

.recetas:hover {
  transform: rotateX(360deg);
}

h1 {
  color: #C4AF52;
  font-family: Arial, Helvetica, sans-serif;
}

p {
  color: black;
}

.jumbotron1 {
  height: 400px;
  width: 100 px;
  background-image: url(img/frutossecosacostada.jpeg);
  background-size: cover;
  background-position: center;
}
.jumbotron1 p {
  color: black;
}

.jumbotron2 {
  height: 400px;
  width: 100 px;
  background-image: url(img/lentejas.jpg);
  background-size: cover;
  background-position: center;
}
.jumbotron2 p {
  color: black;
}

.jumbotron3 {
  height: 400px;
  width: 100 px;
  background-image: url(img/menta.jpg);
  background-size: cover;
  background-position: center;
}
.jumbotron3 p {
  color: black;
}

.jumbotron4 {
  height: 400px;
  width: 100 px;
  background-image: url(img/huevos.jpg);
  background-size: cover;
  background-position: center;
}
.jumbotron4 p {
  color: black;
}

.btn {
  border-bottom-left-radius: 50%;
}

.display-4 {
  color: #73882C;
  padding: auto;
  text-align: left;
  text-shadow: 0 0 3px black;
}

h2 {
  text-align: center;
  padding: 20px;
  background-color: #C4AF52;
  color: #1E5F15;
  margin-bottom: 0;
}

.nleft {
  height: 400px;
  background-image: url(img/frutossecosparada.jpeg);
  background-position: center;
  background-size: cover;
  border: 3px solid #73882C;
}

.nleft1 {
  height: 400px;
  background-image: url(img/garbanzos.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid #73882C;
}

.nleft2 {
  height: 400px;
  background-image: url(img/manzanilla.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid #73882C;
}

.nleftfacil {
  height: 400px;
  background-image: url(img/hummus.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid #73882C;
}

.nleftmedia {
  height: 400px;
  background-image: url(img/barritas.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid #73882C;
}

.nleftdificil {
  height: 400px;
  background-image: url(img/pan.jpg);
  background-position: center;
  background-size: cover;
  border: 3px solid #73882C;
}

.nright {
  border: 3px solid #73882C;
  background-size: cover;
}

article {
  border: 3px solid #C4AF52 !important;
  background: radial-gradient(rgb(82, 240, 105), rgb(95, 233, 82), rgb(12, 106, 47));
  text-align: center;
}

footer {
  background-color: #1E5F15;
  color: black;
  text-align: center;
  padding: 20px;
}

@media only screen and (min-width: 0) and (max-width: 576px) {
  .navbar-collapse {
    background-color: rgb(41, 52, 43);
    justify-content: center !important;
    display: flex;
  }
}
.navbar {
  height: 80px;
  box-shadow: 0 0 5px black !important;
}
.navbar .navbar-brand {
  color: #FFD687;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: xx-large !important;
}
.navbar .navbar-brand img {
  height: 60px;
}

.nav-link {
  color: #FFD687 !important;
}/*# sourceMappingURL=estilos.css.map */